<div class="area-container">
  <h2 class="area-title">FINANCIAMIENTO</h2>
  <img src="assets/Financiamiento_Andrea.jpg" alt="Fotografía funcionario financiamiento" class="area-img"/>
  <img src="assets/Financiamiento_Patricio.jpg" alt="Fotografía funcionario financiamiento vespertino"
       class="area-img"/>
  <p class="area-description">
    Te presentamos las alternativas de financiamiento a las cuales puedes optar como alumno regular.
    Lo importante es que te informes de los requisito de cada una de ellas y sus fechas de postulación.
    Acércate al Encargado de Financiamiento Estudiantil de tu sede para informarte en detalle sobre opciones de
    financiamiento.
  </p>
  <div class="paneles">
    <h2 class="area-title">Preguntas frecuentes </h2>
  </div>
  <div id="faq">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿La gratuidad cubre carreras vespertinas?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="area-text">
        Sí, la gratuidad cubre carreras diurnas y vespertinas, pero no cubre carreras semipresenciales.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Puedo optar a la gratuidad si ya tengo un título técnico o profesional?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="area-text">
        Puedes acceder a la gratuidad solo si ya tienes un título técnico y quieres seguir tus estudios en una carrera
        profesional; si ya posees un título profesional no podrás acceder a la gratuidad.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Existen Becas internas en Duoc UC?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="area-text">Sí, en Duoc UC hemos dispuesto ayuda financiera para todos quienes lo necesiten y así
        asegurar
        su acceso y continuidad de estudios:
      </p>
      <ul>
        <li>Beca Segundo Hermano</li>
        <li>Beca Tercer Hermano</li>
        <li>Beca Deportiva</li>
        <li>Beca Liceo Politécnico Andes</li>
        <li>Beca Padre o Madre Sostenedor</li>
      </ul>
      <!--<p class="area-text">Para más información sobre las becas internas ingresa <a (click)="becasInternas()">aquí</a></p>-->
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo puedo postular para la gratuidad?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="area-text">
        Debes postular en el mes de Octubre en fuas.cl
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo puedo postular para obtener CAE?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="area-text">
        Debes postular en el mes de Octubre en fuas.cl
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Puedo realizar cambio de carrera con gratuidad?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="area-text">
        Sí, la gratuidad permite realizar un cambio de carrera.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Si tengo gratuidad… ¿Debo cancelar los aranceles?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="area-text">
        No, la gratuidad cubre aranceles y matrícula.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cuánto me cubre la gratuidad?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="area-text">
        La gratuidad solamente cubre la duración formal de la carrera.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Con quién puedo hablar en financiamiento?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="area-text">
        La Unidad de Financiamiento se encuentra en el punto estudiantil, puedes conversar con Andrea Villalobos o
        Patricio Díaz.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Puedo realizar un cambio de institución con gratuidad?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <p class="area-text">
        Sí, la gratuidad permite un cambio de carrera y/o institución.
      </p>
    </mat-expansion-panel>
  </div>

  <div *ngFor="let panel of tablas.keys()">
    <div class="paneles">
      <h2 class="area-title">{{panel}}</h2>
    </div>
    <mat-expansion-panel *ngFor="let tabla of tablas.get(panel)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{tabla.beca}}
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div>
        <table style="width: 100%;">
          <tbody>
          <tr>
            <td class="table-beneficio"><span class="top">BENEFICIO</span></td>
            <td class="table-descripcion"><span class="top">DESCRIPCIÓN</span></td>
            <td class="table-requisitos"><span class="top">REQUISITOS</span></td>
          </tr>
          <tr>
            <td align="center" bgcolor="#eeeeee" width="107"><strong>{{tabla.beneficio}}%</strong></td>
            <td bgcolor="#eeeeee" width="275">
              {{tabla.descripcion}}
            </td>
            <td bgcolor="#eeeeee" width="275">
              {{tabla.requisitos}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
  </div>

  <div class="paneles">
    <h2 class="area-title">BECAS de primer año </h2>
  </div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        VER BECAS DE PRIMER AÑO
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div>
      <table align="center" border="0" cellpadding="5" cellspacing="5" style="width: 100%;">
        <tbody>
        <tr>
          <td bgcolor="#002D56"><strong><span color="#FFFFFF" style="color: #ffffff;">Descuento por pago año o semestre al contado.</span></strong>
          </td>
        </tr>
        <tr>
          <td bgcolor="#eeeeee">
            <ul>
              <li><strong>8% descuento</strong> para alumnos que cancelan los aranceles del año al contado.</li>
              <li><strong>6% descuento</strong> para alumnos que cancelan los aranceles del semestre al contado.</li>
            </ul>
            <p align="justify">Los alumnos que se encuentre en condiciones de obtener más de uno de estos beneficios,
              deben
              optar, a su elección, por sólo uno de ellos. En ningún caso se sumaran dos o más beneficios.</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-expansion-panel>

  <div class="paneles">
    <h2 class="area-title">BECAS ESTATALES</h2>
  </div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        VER BECAS ESTATALES
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div>
      <table cellpadding="5" cellspacing="5" style="width: 100%;">
        <tbody>
        <tr>
          <td bgcolor="#002d56" width="145"><strong><span color="#FFFFFF"
                                                          style="color: #ffffff;">NOMBRE BECA</span></strong>
          </td>
          <td bgcolor="#002d56" width="520"><strong><span color="#FFFFFF"
                                                          style="color: #ffffff;">REQUISITOS DE POSTULACIÓN</span></strong>
          </td>
        </tr>
        <tr>
          <td bgcolor="#eeeeee" width="145"><strong>BECA EXCELENCIA ACADÉMICA</strong></td>
          <td bgcolor="#eeeeee" width="520">Promedio de notas de Enseñanza Media dentro del 10% más alto del
            establecimiento
            de egreso de E.Media y pertenecer a deciles 1 al 8
          </td>
        </tr>
        <tr>
          <td bgcolor="#eeeeee" width="145"><strong>BECA HIJO PROFESIONALES EDUCACION</strong></td>
          <td bgcolor="#eeeeee" width="520">Estudiantes cuyos padres sean profesores o asistentes de la educación, con
            contrato vigente en establecimientos municipales, particular subvencionados o de administración delegada,
            PSU
            promedio (Lenguaje y Matemáticas) superior a 500 puntos, promedio de notas de Enseñanza Media igual o
            superior
            a
            5,5 y pertenecer a deciles 1 al 8.
          </td>
        </tr>
        <tr>
          <td bgcolor="#eeeeee"><strong>BECA ARTICULACION</strong></td>
          <td bgcolor="#eeeeee" width="520">Estudiantes egresados o titulados de carreras técnicas cuatro años antes a
            la
            fecha de ingreso a la carrera profesional, promedio de Notas de Enseñanza Media igual o superior a 5,0 y
            pertenecer a deciles 1 al 7.
          </td>
        </tr>
        <tr>
          <td bgcolor="#eeeeee" width="145"><strong>BECA EXCELENCIA TÉCNICA</strong></td>
          <td bgcolor="#eeeeee" width="520">Mejores egresados de Enseñanza Media del año de la postulación y hasta
            tres
            años
            antes, que opten a una carrera impartida por Centro de Formación Técnica o Instituto Profesional, promedio
            de
            Notas Enseñanza Media para postulantes carreras profesionales: igual o superior a 5,5, promedio de Notas
            Enseñanza
            Media para postulantes a carreras técnicas: igual o superior a 5,0 y pertenecer a deciles 1 al 7.
          </td>
        </tr>
        <tr>
          <td bgcolor="#eeeeee" width="145"><strong>BECA JUAN GOMEZ MILLAS</strong></td>
          <td bgcolor="#eeeeee" width="520">Estudiantes egresados de Enseñanza Media con rendimiento académico
            meritorio.
            Pertenecer a deciles 1 al 7.<br/> Postulantes: Desde 500 puntos.
          </td>
        </tr>
        <tr>
          <td bgcolor="#eeeeee"><strong>BECA DISCAPACIDAD</strong></td>
          <td bgcolor="#eeeeee" width="520">Estudiantes con discapacidad, con rendimiento académico meritorio,
            promedio
            de
            notas de Enseñanza Media igual o superior a 5,0 y pertenecer a deciles 1 al 7.
          </td>
        </tr>
        <tr>
          <td bgcolor="#eeeeee" width="145"><strong>BECA NUEVO MILENIO</strong></td>
          <td bgcolor="#eeeeee" width="520">Estudiantes que se matriculen en primer año a una carrera impartida por un
            Instituto Profesional o Centro de Formación Técnica, pertenecer a deciles 1 al 7 y Promedio de notas de
            Enseñanza
            Media: Carreras técnicas y profesionales: igual o superior a 5,0.
          </td>
        </tr>
        <tr>
          <td bgcolor="#eeeeee" width="145"><strong>BECA JUAN GOMEZ MILLAS EXTRANJERO</strong></td>
          <td bgcolor="#eeeeee" width="520">Estudiantes extranjeros provenientes de América Latina o el Caribe. Cupos:
            limitados. Pertenecer a deciles 1 al 7.
          </td>
        </tr>
        <tr>
          <td bgcolor="#eeeeee"><strong>BECA DE ARTICULACIÓN</strong></td>
          <td bgcolor="#eeeeee" width="520">Estudiantes egresados o titulados de carreras técnicas de nivel superior
            durante
            los cuatros años anteriores a la fecha de postulacion. Cupos: limitados. Pertenecer a quintiles 1 al 3 y
            promedio
            de Notas de Enseñanza Media igual o superior a 5,0.
          </td>
        </tr>
        <tr>
          <td bgcolor="#eeeeee" width="145"><strong>BECAS DE REPARACIÓN (TITULAR VALECH y TRASPASO VALECH)</strong>
          </td>
          <td bgcolor="#eeeeee" width="520">Victimas en el informe de la Comisión Valech (Titulares) o a uno de sus
            hijos
            o
            nietos (Traspaso).Nómina de Personas reconocidas como Víctimas <a
              href="http://www.indh.cl/informacion-comision-valech">www.indh.cl/informacion-comision-valech</a>. No
            tiene Requisito socioeconómico. Requisito académico: No exige puntaje promedio PSU ni notas de Enseñanza
            Media.
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-expansion-panel>
  <div class="paneles">
    <h2 class="area-title">BECAS DE CURSO SUPERIOR O SEGUNDO AÑO </h2>
  </div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        VER BECAS DE CURSO SUPERIOR O SEGUNDO AÑO
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div>
      <table cellpadding="5" cellspacing="5" style="width: 100%;">
        <tbody>
        <tr>
          <td bgcolor="#002D56" width="145"><strong><span color="#FFFFFF"
                                                          style="color: #ffffff;">NOMBRE BECA</span></strong>
          </td>
          <td bgcolor="#002D56" width="520"><strong><span color="#FFFFFF"
                                                          style="color: #ffffff;">REQUISITOS DE POSTULACIÓN</span></strong>
          </td>
        </tr>
        <tr>
          <td bgcolor="#EEEEEE" width="145"><strong>BECA JUAN GOMEZ MILLAS CURSOS SUPERIORES</strong></td>
          <td bgcolor="#EEEEEE" style="text-align: justify;" width="520">Destinada a estudiantes que ya cursen una
            carrera
            técnica, o profesional en un Instituto Profesional. No deben contar con alguna beca de arancel vigente al
            momento
            de la postulación, ni haber perdido una beca en su actual carrera. Pertenecer hasta el 7mo decil. Puntaje
            PSU
            promedio (lenguaje y matemáticas) de 500 puntos y grado de avance académico.
          </td>
        </tr>
        <tr>
          <td bgcolor="#EEEEEE" width="145"><strong>BECA NUEVO MILENIO CURSOS SUPERIORES</strong></td>
          <td bgcolor="#EEEEEE" style="text-align: justify;" width="520">Destinada para estudiantes que ya cursen una
            carrera
            técnica, o profesional en un Instituto Profesional. Estos últimos no deben contar con alguna beca de
            arancel
            vigente al momento de la postulación, ni haber perdido una beca en su actual carrera. Pertenecer hasta el
            7mo
            decil. Promedio de Enseñanza media igual o superior a 5,0 para carrera técnica o profesional y grado de
            avance
            académico.
          </td>
        </tr>
        <tr>
          <td bgcolor="#EEEEEE" width="145"><strong>BECA HIJOS DE PROFESIONALES DE LA EDUCACION CURSOS
            SUPERIORES</strong>
          </td>
          <td bgcolor="#EEEEEE" style="text-align: justify;" width="520">Destinada a estudiantes cuyos padres sean
            profesores
            o asistentes de la Educación de enseñanza básica o media, con contrato vigente en establecimientos
            municipales,
            particular subvencionados o de administración delegada, cuyos estudiantes ya cursen una carrera técnica, o
            profesional en un Instituto Profesional. Estos últimos no deben contar con alguna beca de arancel vigente
            al
            momento de la postulación, ni haber perdido una beca en su actual carrera. Pertenecer hasta el 8vo decil.
            Puntaje
            PSU promedio (lenguaje y matemáticas) de 500 puntos, Promedio de Enseñanza media igual o superior a 5,5 y
            grado
            de
            avance académico.
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-expansion-panel>


  <div class="paneles">
    <h2 class="area-title">CRÉDITOS</h2>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        CAE (CRÉDITO CON AVAL DEL ESTADO)
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div>
      <p align="justify"><span style="color: #000000;">Para mayor informacion de fechas y características de beneficios ingresa a </span><a
        href="http://www.beneficiosestudiantiles.cl/">www.beneficiosestudiantiles.cl</a></p>
      <p align="justify"><strong style="background-color: #ffffff;">Importante:</strong> Los alumnos
        matriculados en
        las carreras del Programa Ejecutivo Vespertino (PEV) no tendrán acceso a los beneficios detallados
        anteriormente.
      </p>
    </div>
  </mat-expansion-panel>
</div>

