<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<img src="../../assets/desarrollo%20laboral.png"/>
<body>
<h1>Preguntas Frecuentes</h1>
<h3> No puedo ingresar a la plataforma duoclaboral</h3>
<h2> Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil </h2>

<h3> Perdí la contraseña de duoclaboral </h3>
<h2> Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil para reestablecerla </h2>

<h3> ¿Dónde puedo encontrar práctica profesional? </h3>
<h2> Crea tu cuenta en duoclaboral.cl y podrás acceder a cientos de ofertas exclusivas para ti </h2>

<h3> ¿Dónde puedo encontrar trabajo para titulado? </h3>
<h2> Crea tu cuenta en duoclaboral.cl y podrás acceder a cientos de ofertas exclusivas para ti </h2>

<h3> ¿Dónde puedo encontrar trabajo part-time? </h3>
<h2> Crea tu cuenta en duoclaboral.cl y podrás acceder a cientos de ofertas exclusivas para ti </h2>

<h3> Necesito hacer un Curriculum Vitae </h3>
<h2> Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil </h2>

<h3> Requiero apoyo para una entrevista laboral. </h3>
<h2> Agenda tu hora con el coordinador de Desarrollo Laboral en Punto Estudiantil </h2>

<h3> ¿Qué talleres imparte Desarrollo Laboral? </h3>
<h2> - Cómo crear un curriculum Vitae. </h2>
<h2> - Cómo es el proceso de reclutamiento y selección de las empresas </h2>
<h2> - Cómo desarrollar un perfil profesional en Linkedin </h2>
<h2> - Expresión oral y lenguaje no verbal para el ámbito laboral </h2>
<h2> - Cómo enfrentar exitosamente una entrevista laboral </h2>
<h2> - Pasos para un adecuado personal branding (Marca personal) </h2>
<h2> - SII, cómo iniciar actividades o una empresa </h2>
<h2> - Presentaciones efectivas </h2>
<h2> - Habilidades sociales para la empleabilidad </h2>
<h2> - Contrato de trabajo, derechos y deberes </h2>
<h2> - Intra emprendimiento </h2>
<h2> - Networking </h2>

<h3> ¿Cuándo es la Feria Laboral Plaza Oeste? </h3>
<h2> Es el día martes 10 de septiembre a las 10.00 am </h2>

<h3> ¿Cuándo es la semana de la empleabilidad? </h3>
<h2> Es ente el 9 y el 14 de septiembre </h2>

<h3> ¿Qué actividades hay en la semana de la empleabilidad? </h3>
<h2> Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil </h2>

<h3> ¿Dónde me puedo inscribir para un taller? </h3>
<h2> Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil o en los link que se les envía en los
  correos </h2>

<h3> ¿Cuándo es la Feria Laboral Virtual? </h3>
<h2> Del 27 al 30 de agosto</h2>

<h3> Necesito crear una cuenta en el SII </h3>
<h2> Agenda tu hora con el coordinador de Desarrollo Laboral en Punto Estudiantil </h2>

<h3> Necesito hacer inicio de actividades en el SII </h3>
<h2> Agenda tu hora con el coordinador de Desarrollo Laboral en Punto Estudiantil que te orientará para ello </h2>

<h3> ¿Dónde puedo obtener mi credencial de titulado? </h3>
<h2> Envía un correo a eibacache@duoc.cl, con tu foto, rut, nombre y escuela para poder obtenerla </h2>

<h3> ¿Qué beneficios tengo con mi credencial de titulado? </h3>
<h2> Los puedes revisar en la siguiente página http://www.duoc.cl/programa-beneficios-titulados </h2>

<h3> ¿A qué servicios puedo optar con mi credencial de titulado? </h3>
<h2> Los puedes revisar en la siguiente página http://www.duoc.cl/beneficios/servicios-familia </h2>

<h3> ¿A qué servicios puedo optar con mi credencial de titulado de recreación y tiempo libre? </h3>
<h2> Los puedes revisar en la siguiente página http://www.duoc.cl/beneficios/recreacion-tiempo-libre </h2>

<h3> ¿Cuándo es mi titulación? </h3>
<h2> Escríbenos un correo con tus datos a eibacache@duoc.cl para poder asesorarte </h2>

<h3> ¿Cómo puedo optar a ser alumno ayudante de Duoc UC? </h3>
<h2> Debes cumplir con los siguientes requisitos:</h2>
<h2>- Ser alumno regular </h2>
<h2>- Tener al menos cursado 1 semestre </h2>
<h2>- Tener un PPS igual o superior a 5.0, o al menos haber aprobado el 80% de las asignaturas inscritas el semestre
  anterior</h2>
</body>
