
.inscripciones {
  background-image: linear-gradient(0, whitesmoke, lightskyblue, skyblue, dodgerblue);
  text-align: center;
  font-family: MyriadPro, sans-serif;
}


.formulario iframe {
  position: center;
  width: 100%;
  height: 2000px;
  overflow-y: hidden;
}
