<div class="area-container">
  <div class="paneles">
    <h1>Preguntas frecuentes </h1>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Credencial Alumno
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h3 class="area-question">¿Cómo obtengo mi credencial institucional?</h3>
    <p class="area-text">
      Solo debes enviar una fotografía tipo carnet, del dorso hacia arriba, fondo blanco, de frente (NO SELFIE)
      Adjuntando tu Nombre completo, RUT y Carrera al correo dvaldesp@duoc.cl
    </p>
    <h3 class="area-question">¿Cuántos días se demora en estar lista?</h3>
    <p class="area-text">
      Dentro de 3 o 4 días te enviaremos un correo informando que ya puedes retirar tu credencial.
    </p>
    <h3 class="area-question">¿Tiene algún costo la credencial?</h3>
    <p class="area-text">
      No, la institución te la entrega gratuita la primera vez, en caso de robo, perdida o extravío a eso le llamamos
      una reposición de este documento institucional y ahí deberás cancelas $1.100.- en caja de la sede y solicitar una
      nueva.
    </p>
    <h3 class="area-question">¿Para qué sirve la credencial?</h3>
    <p class="area-text">
      Con tu credencial Institucional podrá hacer uso de los materiales deportivos dentro de la sede, sacar libros en
      biblioteca, hacer ingreso a la Sede en los torniquetes, podrás inscribirte a los talleres deportivos y asistir sin
      problemas mostrando tu credencial. Además podrás disfrutar de los descuentos en los más de 90 comercios asociados
      (para saber cuáles son solo debes ingresar a www.duoc.cl/beneficios
    </p>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        TNE
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h3 class="area-question">OBTENCIÓN</h3>
    <p class="area-text">
      El alumno deberá pagar $2.700.- en caja de la sede
      Entre los meses de diciembre 2019, enero y febrero 2020 el alumno deberá acercarse a la sede para la toma de la
      fotografía para la TNE.
      *(Es importante recordar que aunque el alumno tenga la TNE de Enseñanza Media, igual deberá realizar este
      proceso).
      La TNE llegará a la Institución Educacional (Abril-Mayo)
    </p>
    <h3 class="area-question">REPOSICIÓN</h3>
    <p class="area-text">Deberán presentar la siguiente documentación:</p>
    <p class="area-text">
      Cédula de Identidad Vigente.
      Certificado de alumno regular con vigencia de no más de 30 días de corrido a la fecha de emisión.
      Depositar $3.600.- en la cuenta corriente JUNAEB N°9000097 del Banco Estado (que corresponde al valor de la
      reposición), ServiEstado o en Caja Vecina.
      4. Constancia en Carabineros o Declaración Jurada Simple (en los casos de pérdida o extravío).
      5. Presentar la Tarjeta Nacional de Estudio, en caso de realizar la reposición por deterioro o falla del chip.
    </p>
    <h3 class="area-question">REVALIDACIÓN</h3>
    <p class="area-text">
      Entre Marzo o Abril (dependiendo de la información del ministerio) deberá cancelar $1.100.- en caja de la sede
      (con
      previo registro en Punto Estudiantil)
      Deberá esperar desde la fecha que cancele este monto de 7 a 10 días hábiles luego de este periodo deberá colocar
      su
      TNE por un TOTEM BIP y verificar en el lector el cual le indicara “pase extendido”, con esto se debería extender
      su
      TNE por todo el año 2020
      Para quienes viajen en micros rurales podrán colocar el sello 2020 una vez extendida su TNE.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tarjeta de estacionamiento
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <h3 class="area-question">¿De qué se trata este beneficio?</h3>
    <p class="area-text">
      Es un convenio con Mall Plaza Oeste donde se les otorgara una tarjeta la cual deberán cargar algo parecido a la
      TNE
      y pagaran mucho menos a como cancelas los clientes del Mall. Ejemplo: “pagaras por una jornada de estudio entre
      $500
      a $600”
    </p>
    <h3 class="area-question">¿Cómo puedo obtener mi Tarjeta de Estacionamiento para alumnos Duoc UC?</h3>
    <p class="area-text">
      -Debes llenar el formulario de solicitud con tus datos y los del auto adjuntar un certificado de alumno regular
      vigente.
      - Además dicho formulario debe ir firmado y timbrado por algún integrante de Punto Estudiantil (previo registro en
      Punto Estudiantil)
      -por ultimo deberás llevar esta documentación al Parking del Mall y esperara que te la entreguen.
    </p>
    <h3 class="area-question">¿Qué hago si se me pierde mi tarjeta de estacionamiento?</h3>
    <p class="area-text">
      -La reposición de esta tarjeta tiene un costo de $5.000.- que deberás cancelar directo en Parking del Mall.
      -Además debes llenar el formulario de solicitud con tus datos y los del auto adjuntar un certificado de alumno
      regular
      vigente.
      - Además dicho formulario debe ir firmado y timbrado por algún integrante de Punto Estudiantil (previo registro en
      Punto Estudiantil)
    </p>

  </mat-expansion-panel>
  <div class="paneles">
    <h1>Formularios</h1>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Solicitud de credencial
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="formulario asuntos">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSd1m3xHWF6679z9hyy0GdSvtCxYvx60pUCiXiOWCNSeKElXgw/viewform"
      ></iframe>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Inscripción Asuntos Estudiantiles
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="formulario asuntosx">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSeQMns_r1L5x-gQDaXxc4qEI_gx5WzoKKOdM2MINGdwcJQbiw/viewform"
      ></iframe>
    </div>
  </mat-expansion-panel>


  <div class="paneles">
    <h1>Enlaces Relevantes</h1>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cuida tu TNE
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <a href="https://www.tne.cl/cuida-tu-tne/">Información TNE</a>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Beneficios Beca Junaeb
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <a href="https://becajunaeb.sodexobeneficios.cl/sobre-la-beca">Información Junaeb</a>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Experiencia Vivo Duoc
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <a href="https://experienciavivo.duoc.cl/">Vivo Duoc UC</a>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Correo Duoc
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <a href="http://alumnos.duoc.cl/">Correo</a>

  </mat-expansion-panel>
</div>
