<h3>Asuntos estudiantiles</h3>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>

<H4>PREGUNTAS FRECUENTES
</H4>
<H5>
  PREGUNTA 1
</H5>
<p>
  RESPUESTA 1
</p>
<H5>
  PREGUNTA 2
</H5>
<p>
  RESPUESTA 2
</p>

<a href="https://www.tne.cl/cuida-tu-tne/" target="_blank">
  <button class="btn btn1" id="tne">CUIDA TU TNE</button>
</a>

<a href="https://becajunaeb.sodexobeneficios.cl/sobre-la-beca" target="_blank">
  <button class="btn btn2" id="junaeb">JUENAEB SODEXO</button>
</a>

<a
  href="https://experienciavivo.duoc.cl/"
  target="_blank">
  <button class="btn btn3" id="vivo">PORTAL VIVO DUOC</button>
</a>

<a href="https://mail.google.com/" target="_blank">
  <button class="btn btn4" id="correo">CORREO</button>
</a>




