.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}


.square {
  width: 130px;
  height: 130px;
  border-radius: 0;
  float: left;
  margin-right: 50px;
}

.btn1, .btn2, .btn3, .btn4 {
  color: #ffffff;
  background-color: #66ccff;
  font-family: MyriadPro, sans-serif;
}

/*IMPORTANTE!
Hay que cambiar el color y el tamaño de los colores, aún así los botones ya son funcionales.
Besitos :*
 */
.circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  float: left;
  margin-right: 50px;
}

.rounded {
  width: 130px;
  height: 130px;
  border-radius: 25%;
  float: left;
  margin-right: 50px;
}


CSS
.bx {
  display: none;
  background: #ccc;
  width: 200px;
  height: 100px;
}

#trigger:checked + .bx {
  display: block;
}

#trigger2:checked + .bx {
  display: block;
}


.bx {
  display: none;
  background: white;
  width: 1400px;
  height: 1700px;
  top: 50%;
  right: 50%;
  overflow: visible
}


#trigger2:checked + .bx {
  display: block;
}

#trigger:checked + .bx {
  display: block;
}

.convenio {
  text-align: center;
}

.espacio h1 {
  opacity: 0;
}

label {
  border-radius: 0px;
  position: center;
  background-size: 30px;

}

input[type = "checkbox"] {
  position: center;
}

.inscripciones {
  background-image: linear-gradient(0, lightpink, pink);
  text-align: center;
  font-family: MyriadPro, sans-serif;
}


.formulario iframe {
  position: center;
  width: 100%;
  height: 1200px;
  overflow-y: hidden;
}
