<h3>Asuntos estudiantiles</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis earum esse exercitationem
  harum in ipsam itaque labore nam nemo nesciunt nulla, odit possimus, praesentium sequi similique sint ut?</p>

<button class="btn btn1" id="tne" onclick="window.location.href = 'https://www.tne.cl/cuida-tu-tne/';">
  CUIDA TU
  TNE
</button>

<button class="btn btn2" id="junaeb"
        onclick="window.location.href = 'https://becajunaeb.sodexobeneficios.cl/sobre-la-beca';">
  JUENAEB SODEXO
</button>


<button class="btn btn3" id="vivo"
        onclick="window.location.href = 'https://ssoprd.duoc.cl/auth/realms/WEB_APPS_PRD/protocol/openid-connect/auth?client_id=411f013c&nonce=478fd98899982560d93588527f22895e&redirect_uri=https%3A%2F%2Fexperienciavivo.duoc.cl%2Fauth%2Fopenidc%2Fcallback&response_type=code&scope=openid&state=40c84005a94b35133dddd082aee3aa6f';">
  PORTAL VIVO DUOC
</button>
<button class="btn btn4" id="correo"
        onclick="window.location.href = 'https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&osid=1&service=mail&ss=1&ltmpl=default&rm=false&flowName=GlifWebSignIn&flowEntry=ServiceLogin';">
  CORREO
</button>



