<!-- Archivo HTML correspondiente al codigo del modulo informativo "Pastoral"-->
<div class="area-container">
  <h2 class="area-title">PASTORAL</h2>
  <p class="area-text">
    Desde el año 2005, la Pastoral de Duoc UC quiere ser un lugar de fraternidad, servicio,
    celebración y formación
    para ti, con el deseo que te encuentres con Jesucristo, haciendo de tu paso por Duoc UC una valiosa experiencia de
    crecimiento humano y espiritual. Conoce aquí cómo participar y vive la alegría de encontrarse con Jesucristo.
  </p>
  <img alt="Fotografia encargado de pastoral" class="area-img" src="../../assets/pastoral.png"/>
  <div class="inscripciones">
    <h1>Inscripción Pastoral</h1>
  </div>
  <div class="formulario pastoral">
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLScCyPwSmNZJBWItnzfQcA8wmQf4_sMKafNHMQW-VzD4LThi0g/viewform"
      style="overflow-y: hidden;"
    ></iframe>
  </div>
</div>
