<!-- Archivo HTML correspondiente al codigo del modulo informativo "desarrollo-laboral Laboral"-->

<div class="area-container">
  <h2 class="area-title">Desarrollo Laboral</h2>
  <img src="assets/Desarrollo laboral_Gustavo.jpg" alt="Fotografía funcionario desarrollo laboral" class="area-img"/>
  <p class="area-description">
    El Centro de Desarrollo Laboral ofrece un servicio gratuito de intermediación laboral entre las empresas y los
    alumnos y egresados. Para facilitar esta interacción, durante todo el año se ofrecen diferentes actividades y
    herramientas como Ferias Laborales de prácticas, trabajos part time y full time; Bolsas de Trabajo y Reclutamientos
    Masivos que realizan las empresas. Además, cada sede cuenta con un Coordinador de Desarrollo Laboral Duoc UC,
    encargado de proporcionar a los alumnos la orientación necesaria para acceder a los empleos disponibles y velar por
    el correcto desarrollo de las actividades.
  </p>
  <div class="space">
  </div>
  <div class="paneles">
    <h2 class="area-title">Preguntas Frecuentes</h2>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        No puedo ingresar a la plataforma duoc laboral
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Perdí la contraseña de duoclaboral
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil para restablecerla
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Dónde puedo encontrar práctica profesional?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Crea tu cuenta en duoclaboral.cl y podrás acceder a cientos de ofertas exclusivas para ti
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Dónde puedo encontrar trabajo para titulado?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Crea tu cuenta en duoclaboral.cl y podrás acceder a cientos de ofertas exclusivas para ti
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Dónde puedo encontrar trabajo part-time?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Crea tu cuenta en duoclaboral.cl y podrás acceder a cientos de ofertas exclusivas para ti
    </p>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Necesito hacer un Curriculum Vitae
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Requiero apoyo para una entrevista laboral.
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Agenda tu hora con el coordinador de Desarrollo Laboral en Punto Estudiantil
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Qué talleres imparte Desarrollo Laboral?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="area">
      <li>Cómo crear un curriculum Vitae</li>
      <li>Cómo es el proceso de reclutamiento y selección de las empresas</li>
      <li>Cómo desarrollar un perfil profesional en Linkedin</li>
      <li>Expresión oral y lenguaje no verbal para el ámbito laboral</li>
      <li>Cómo enfrentar exitosamente una entrevista laboral</li>
      <li>Pasos para un adecuado personal branding (Marca personal)</li>
      <li>SII, cómo iniciar actividades o una empresa</li>
      <li>Presentaciones efectivas</li>
      <li>Habilidades sociales para la empleabilidad</li>
      <li>Contrato de trabajo, derechos y deberes</li>
      <li>Intra emprendimiento</li>
      <li>Networking</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
         ¿Cuándo es la Feria Laboral Plaza Oeste?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Es el día martes 10 de septiembre a las 10.00 am
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Cuándo es la semana de la empleabilidad?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Es entre el 9 y el 14 de septiembre
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
         ¿Qué actividades hay en la semana de la empleabilidad?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Dónde me puedo inscribir para un taller?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil o en los link que se les
      envía en los correos
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Cuándo es la Feria Laboral Virtual?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Del 27 al 30 de agosto
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
         Necesito crear una cuenta en el SII
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Agenda tu hora con el coordinador de Desarrollo Laboral en Punto Estudiantil
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Necesito hacer inicio de actividades en el SII
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Agenda tu hora con el coordinador de Desarrollo Laboral en Punto Estudiantil que te orientará
      para ello
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Dónde puedo obtener mi credencial de titulado?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Envía un correo a eibacache@duoc.cl, con tu foto, rut, nombre y escuela para poder
      obtenerla
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
         ¿Qué beneficios tengo con mi credencial de titulado?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Los puedes revisar en la siguiente página
      http://www.duoc.cl/programa-beneficios-titulados
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿A qué servicios puedo optar con mi credencial de titulado?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Los puedes revisar en la siguiente página http://www.duoc.cl/beneficios/servicios-familia
    </p>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
         ¿A qué servicios puedo optar con mi credencial de titulado de recreación y tiempo
          libre?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Los puedes revisar en la siguiente página
      http://www.duoc.cl/beneficios/recreacion-tiempo-libre
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
         ¿Cuándo es mi titulación?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Escríbenos un correo con tus datos a eibacache@duoc.cl para poder asesorarte
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Cómo puedo optar a ser alumno ayudante de Duoc UC?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Debes cumplir con los siguientes requisitos:
    <ul>
      <li>Ser alumno regular</li>
      <li>Tener al menos cursado 1 semestre</li>
      <li>Tener un PPS igual o superior a 5.0, o al menos haber aprobado el 80% de las asignaturas inscritas el semestre
        anterior
      </li>
    </ul>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
         ¿A qué servicios puedo optar con mi credencial de titulado de recreación y tiempo libre?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Los puedes revisar en la siguiente página http://www.duoc.cl/beneficios/recreacion-tiempo-libre
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
       ¿Cuándo es mi titulación?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="area-text">
      Escríbenos un correo con tus datos a eibacache@duoc.cl para poder asesorarte
    </p>
  </mat-expansion-panel>



  <div class="space">
  </div>
  <div class="paneles">
    <h2 class="area-title">Inscripción Taller Laboral</h2>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Formulario
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="formulario dlaboral">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSd2WRtdCs1b2zAMfjEL3B30mmQNJ3egN0ZehhXdOa7jEseEzA/viewform"
      ></iframe>
      <!-- En la parte superior se encuentra la fuente (src = source) perteneciente al formulario de google -->
    </div>
  </mat-expansion-panel>
</div>
