<!-- Archivo HTML correspondiente al codigo del modulo informativo "Pastoral"-->
<div class="area-container">
  <h2 class="area-title">PASTORAL</h2>
  <img src="./../../../assets/Misiones, trabajo y solidaridad_Anita fuentes.png" alt="Fotografia encargado de pastoral" class="area-img"/>
  <p class="area-description">
    Desde el año 2005, la Pastoral de Duoc UC quiere ser un lugar de fraternidad, servicio,
    Celebración y formación
    Para ti, con el deseo que te encuentres con Jesucristo a través del compartir fraterno con
    tus compañeros , haciendo de tu paso por Duoc UC una valiosa experiencia de
    Crecimiento humano y espiritual. Conoce aquí cómo participar y vive la alegría de ayudar al
    prójimo y conocer de otra forma a tus compañeros de sede.
  </p>
  <div class="paneles">
    <h2 class="area-title">Inscripción pastoral</h2>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Formulario de inscripción
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="formulario pastoral">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLScCyPwSmNZJBWItnzfQcA8wmQf4_sMKafNHMQW-VzD4LThi0g/viewform"
        style="overflow-y: hidden;"
      ></iframe>
    </div>
  </mat-expansion-panel>
</div>
