<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<head> UNIDAD DE APOYO Y BIENESTAR ESTUDIANTIL</head>
<body style=”text-align:justify”;>
<div><h3> En Duoc UC te ayudamos a que tu experiencia sea lo más enriquecedora posible, venciendo los obstáculos y
  desafíos
  que puedas encontrar en tu proceso formativo.

  Contarás con un apoyo personalizado en el área psicológica, vocacional y motivacional. Si estás en situación de
  discapacidad o tienes necesidades educativas específicas, te acompañamos y guiamos de manera integral, para que tengas
  un adecuado progreso académico y vida estudiantil.

  A través de actividades y talleres, te entregamos herramientas para mejorar tus hábitos de estudio, manejar el estrés,
  fomentar tu autocuidado y promover la vida saludable.

  Acércate al Coordinador de la Unidad de Apoyo y Bienestar Estudiantil de tu sede, para conocer en detalle todas las
  alternativas de apoyo que tenemos para ti.
</h3></div>
<div><img src="../assets/apoyo y bienestar.png"/>
  <h1>Preguntas Frecuentes</h1>
  <h3> ¿Qué es la unidad de apoyo y bienestar estudiantil? </h3>
  <h2> La unidad de apoyo y bienestar estudiantil es la unidad encargada de brindar acompañamiento y orientación en el
    área
    psicológica, vocacional y motivacional, además de entregar apoyo a los alumnos en situación de discapacidad o con
    necesidades educativas específicas. </h2>
  <br>
  <h3> ¿Cuáles son las funciones de la unidad de apoyo y bienestar estudiantil? </h3>
  <h2> Brindar acompañamiento a estudiantes en situación de discapacidad
    Brindar apoyo y acompañamiento psicosocial y vocacional a estudiantes
    Brindar apoyo y acompañamiento para el autocuidado y la vida saludable </h2>
  <br>
  <h3> ¿Tengo problemas emocionales/vocacionales ¿dónde debo acudir? </h3>
  <h2>Dirígete al punto estudiantil y agenda una hora con el/la coordinador(a) de apoyo y bienestar. </h2><br>
  <h3> ¿La unidad de apoyo y bienestar estudiantil realiza psicoterapia? </h3>
  <h2>No, la unidad de apoyo y bienestar estudiantil tiene como propósito apoyar y orientar al alumno en sus
    dificultades
    tanto emocionales como académicas, sin embargo y dependiendo del caso, el coordinador de la unidad realizará
    derivación a un centro de atención según corresponda. </h2><br>

  <h3> ¿Existe un límite de tiempo en la atención de la unidad de apoyo? </h3>
  <h2> El máximo de tiempo por cada sesión es de 30 minutos. </h2><br>

  <h3>No alcancé a llegar a la hora agendada, ¿puedo re agendar? </h3>
  <h2> Sí, para ello debes llamar al número (56 2) 354 0869 o acercarte al Punto Estudiantil y re agendar tu hora. </h2>
  <br>
  <h3> ¿Cuántas veces puedo acudir? </h3>
  <h2> Existe un máximo de 3 sesiones por alumno durante el año académico. </h2>
  <br>
  <h3> ¿Cómo puedo agendar hora? </h3>
  <h2> Acércate al Punto Estudiantil y agenda tu hora. </h2>
  <br>
  <h3> Si tengo carnet RND, ¿Con quién debo dirigirme? </h3>
  <h2> Acércate al punto estudiantil y pide hora con el/la coordinador(a) de apoyo y bienestar. </h2>
  <br>
  <h3> Necesito horas de transvoz LSCH </h3>
  <h2> El/la coordinador(a) de la unidad de apoyo gestionará tus horas de LSCH. </h2>
  <br>
  <h3> ¿Existen convenios en los centros de atención psicológica donde se realizan las derivaciones? </h3>
  <h2> Sí, los convenios son exclusivos por ser alumnos de DUOC UC. </h2></div>
</body>
