<div class="area-container">
  <h2 class="area-title">UNIDAD DE APOYO Y BIENESTAR ESTUDIANTIL</h2>
  <p class="area-text">
    En Duoc UC te ayudamos a que tu experiencia sea lo más enriquecedora posible, venciendo los obstáculos y
    desafíos
    que puedas encontrar en tu proceso formativo.

    Contarás con un apoyo personalizado en el área psicológica, vocacional y motivacional. Si estás en situación de
    discapacidad o tienes necesidades educativas específicas, te acompañamos y guiamos de manera integral, para que
    tengas
    un adecuado progreso académico y vida estudiantil.

    A través de actividades y talleres, te entregamos herramientas para mejorar tus hábitos de estudio, manejar el
    estrés,
    fomentar tu autocuidado y promover la vida saludable.

    Acércate al Coordinador de la Unidad de Apoyo y Bienestar Estudiantil de tu sede, para conocer en detalle todas las
    alternativas de apoyo que tenemos para ti.
  </p>
  <img alt="Imágen funcionario apoyo y bienestar estudiantil" class="area-img"
       src="../../assets/apoyo y bienestar.png"/>
  <h2 class="area-title">Preguntas Frecuentes</h2>
  <h3 class="area-question">¿Qué es la unidad de apoyo y bienestar estudiantil?</h3>
  <p class="area-text">
    La unidad de apoyo y bienestar estudiantil es la unidad encargada de brindar acompañamiento y orientación en el
    área
    psicológica, vocacional y motivacional, además de entregar apoyo a los alumnos en situación de discapacidad o con
    necesidades educativas específicas.
  </p>
  <br>
  <h3 class="area-question">¿Cuáles son las funciones de la unidad de apoyo y bienestar estudiantil?</h3>
  <p class="area-text">
    Brindar acompañamiento a estudiantes en situación de discapacidad
    Brindar apoyo y acompañamiento psicosocial y vocacional a estudiantes
    Brindar apoyo y acompañamiento para el autocuidado y la vida saludable
  </p>
  <br>
  <h3 class="area-question">¿Tengo problemas emocionales/vocacionales ¿dónde debo acudir?</h3>
  <p class="area-text">
    Dirígete al punto estudiantil y agenda una hora con el/la coordinador(a) de apoyo y bienestar.
  </p>
  <br>
  <h3 class="area-question">¿La unidad de apoyo y bienestar estudiantil realiza psicoterapia?</h3>
  <p class="area-text">
    No, la unidad de apoyo y bienestar estudiantil tiene como propósito apoyar y orientar al alumno en sus
    dificultades tanto emocionales como académicas, sin embargo y dependiendo del caso, el coordinador de la unidad
    realizará derivación a un centro de atención según corresponda.
  </p>
  <br>
  <h3 class="area-question">¿Existe un límite de tiempo en la atención de la unidad de apoyo?</h3>
  <p class="area-text">
    El máximo de tiempo por cada sesión es de 30 minutos.
  </p>
  <br>
  <h3 class="area-question">No alcancé a llegar a la hora agendada, ¿puedo re agendar?</h3>
  <p class="area-text">
    Sí, para ello debes llamar al número (56 2) 354 0869 o acercarte al Punto Estudiantil y re agendar tu hora.
  </p>
  <br>
  <h3 class="area-question">¿Cuántas veces puedo acudir?</h3>
  <p class="area-text">
    Existe un máximo de 3 sesiones por alumno durante el año académico.
  </p>
  <br>
  <h3 class="area-question">¿Cómo puedo agendar hora?</h3>
  <p class="area-text">
    Acércate al Punto Estudiantil y agenda tu hora.
  </p>
  <br>
  <h3 class="area-question">Si tengo carnet RND, ¿Con quién debo dirigirme?</h3>
  <p class="area-text">
    Acércate al punto estudiantil y pide hora con el/la coordinador(a) de apoyo y bienestar.
  </p>
  <br>
  <h3 class="area-question">Necesito horas de transvoz LSCH</h3>
  <p class="area-text">
    El/la coordinador(a) de la unidad de apoyo gestionará tus horas de LSCH.
  </p>
  <br>
  <h3 class="area-question">¿Existen convenios en los centros de atención psicológica donde se realizan las
    derivaciones?</h3>
  <p class="area-text">
    Sí, los convenios son exclusivos por ser alumnos de DUOC UC.
  </p>
</div>
