<div class="area-container">
  <h2 class="area-title">DEPORTE Y ACTIVIDAD FÍSICA</h2>
  <img alt="Fotografía funcionario deportes" class="area-img" src="../../assets/deportes.png"/>
  <p class="area-description">Si el deporte es tu pasión, te invitamos a los talleres deportivos que hemos preparado
    para ti.
    Además, súmate a una de las 13 selecciones y representa a Duoc UC en los Campeonatos de Universia, Adupri y Ligas
    IND. Infórmate sobre todas las alternativas con el Coordinador de Deportes en el Punto Estudiantil de tu sede.
  </p>
  <div class="paneles">
    <h2 class="area-title">Preguntas frecuentes</h2>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Son gratis los talleres deportivos?
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="area-text">Sí, completamente gratuitos, no tienen ningún costo para el alumno.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Qué talleres deportivos existen?
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="area-text">Fútbol, Voleibol, Basquetbol, Tenis de mesa, futbolito damas, natación, entrenamiento
      funcional.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Compiten en algún campeonato?
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="area-text">Intersedes Duoc UC, juegos olímpicos Duoc y juegos de invierno Duoc además de campeonatos y
      ligas
      externas.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Si yo no voy al taller y lo tengo inscrito en mi horario, ¿qué pasa?
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="area-text">Queda en tu historial académico como NO LOGRADO.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Cuántos créditos tiene el ramo optativo de fútbol?
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="area-text">Todos los optativos deportivos tienen 4 créditos.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Las clases de natación son nado libre?
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="area-text">No, siempre hay un profesor realizando la clase de natación.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Cuántas veces puedo ir al gimnasio?
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="area-text">Dos veces a la semana, de lunes a viernes.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Si suspendi la carrera, ¿puedo seguir entrenando?
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="area-text">NO, ya que no eres alumnos regular de Duoc UC y el seguro no cubre ningún accidente.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Si tengo menos del 70% de asistencia al taller, ¿lo repruebo?
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="area-text">El taller queda como NO LOGRADO y queda en tu historial académico.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Solo puedo pedir los materiales deportivos con la credencial?
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="area-text">Sí, solo con la credencial.</p>
  </mat-expansion-panel>
  <div class="paneles">
    <h2 class="area-title">Inscripción a talleres</h2>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Formulario de inscripción
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="formulario deportivo">
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSf0mM53PtAoLqbgDITfu74Rnub2SMoOmJXp2159-7fCAS4oIA/viewform"
      ></iframe>
    </div>
  </mat-expansion-panel>
</div>
