/* La Clase inscripciones y sus atributos corresponden al recuadro que indica el nombre del formulario correspondiente*/
.inscripciones {
  background-image: linear-gradient(0, whitesmoke, lightskyblue, skyblue, dodgerblue); /* linear-gradient() es una funcion para el degradado de los colores */
  text-align: center;
  font-family: MyriadPro, sans-serif; /* La primera fuente corresponde a la solicitada , la segunda corresponde a la especificación de la fuente que esta por defecto*/
}

/* Ambas son necesarias para el funcionamiento óptimo de la fuente (letra)*/

/* La Clase Formulario y sus atributos corresponden al iframe en el cual se adjunta el formulario de google
solicitado por punto estudiantil*/
.formulario iframe {
  position: center;
  width: 100%;
  height: 1100px;
  overflow-y: hidden;
}

