<p>Pastoral</p>
<h3>Desde el año 2005, la Pastoral de Duoc UC quiere ser un lugar de fraternidad, servicio, celebración y formación
  para ti, con el deseo que te encuentres con Jesucristo, haciendo de tu paso por Duoc UC una valiosa experiencia de
  crecimiento humano y espiritual. Conoce aquí cómo participar y vive la alegría de encontrarse con Jesucristo.</h3>
<img src="../../assets/pastoral.png"/><h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at,
  delectus dolorem dolores eos expedita illo ipsum magni natus nesciunt officia perferendis possimus quod rem sapiente,
  totam ullam unde voluptatibus.</h2>

