<div class="c-buttons">
  <div (click)="redirect('/financiamiento')" class="btn btn1">
    <div class="text">Financiamiento</div>
  </div>
  <div (click)="redirect('/pastoral')" class="btn btn2">
    <div class="text">Pastoral</div>
  </div>
  <div (click)="redirect('/desarrollo')" class="btn btn3">
    <div class="text">Desarrollo Laboral</div>
  </div>
  <div (click)="redirect('/apoyo')" class="btn btn4">
    <div class="text">Apoyo y bienestar juvenil</div>
  </div>
  <div (click)="redirect('/deportes')" class="btn btn5">
    <div class="text">Deportes</div>
  </div>
  <div (click)="redirect('/asuntos')" class="btn btn6">
    <div class="text">Asuntos estudiantiles</div>
  </div>
</div>
