.c-buttons {
  text-align: center;
  overflow: hidden;
}

.btn {
  border: none;
  /*margin: 20px;*/
  padding: 24px;
  width: 450px; /* el ancho del botón es un 60% del tamaño de la pantalla */
  max-width: 60%;
  /*
  TODO: modificar ancho en base al tamaño de la pantalla usando @media, para pantallas grandes como computadores
   */
  height: 450px;
  max-height: 60%;
  font-family: "montserrat", sans-serif;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  font-size: 100%; /* hace la letra más grande y que se ajuste al tamaño de la pantalla*/
}

.btn:hover {
  -moz-box-shadow: 0 0 4px 1px grey;
  -webkit-box-shadow: 0 0 4px 1px grey;
  box-shadow: 0 0 4px 1px grey;
}

.btn1 { /*financiamiento*/
  background-color: #FFA500;
  background-image: url("../../assets/FinanciamientoDuoc.PNG");
  background-repeat: no-repeat;
  background-size: 50% 30%;
  background-position: top, center;
  /*
  Colorizar botón con un gradiente:

  background-image: linear-gradient(to left, #001b4d, #001b4d, #001b4d)
   */
}

.btn2 { /*pastoral*/
  background-color: #F21940;
  background-image: url("../../assets/PastoralDuoc.PNG");
  background-repeat: no-repeat;
  background-size: 50% 30%;
  background-position: top, center;

  /*
  background-image: linear-gradient(to left,#F21940, #F21940,#F21940)
   */
}

.btn3 { /* desarrollo laboral */
  background-color: #1E90FF;
  background-image: url("../../assets/DesarrolloLaboralDuoc.PNG");
  background-repeat: no-repeat;
  background-size: 50% 30%;
  background-position: top, center;
  /*
  background-image: linear-gradient(to left, #F24D19, #F24D19, #F24D19)
   */
}

.btn4 { /*apoyo y bienestar juvenil */
  background-color: #FFB6C1;
  background-image: url("../../assets/ApoyoBienEstarDuoc.PNG");
  background-repeat: no-repeat;
  background-size: 50% 30%;
  background-position: top, center;
  /*
  background-image: linear-gradient(to left, #2680ff, #2680ff, #2680ff)
   */
}

.btn5 { /*deportes */
  background-color: #228B22;
  background-image: url("../../assets/DeportesDuoc.PNG");
  background-repeat: no-repeat;
  background-size: 50% 30%;
  background-position: top, center;
  /*
background-image: linear-gradient(to left, #40ff00, #40ff00, #40ff00)
   */
}

.btn6 { /*asuntos estudiantiles*/
  background-color: #2E8B57;
  background-image: url("../../assets/AsuntosEstudiantilesDuoc.PNG");
  background-repeat: no-repeat;
  background-size: 50% 30%;
  background-position: top, center;
  /*
background-image: linear-gradient(to left, #ffb517, #ffb517, #ffb517)
   */
}

