.c-buttons {
  text-align: center;
  overflow: hidden;
}

.btn {
  border: none;
  margin: 20px;
  padding: 24px;
  width: 60%; /* el ancho del botón es un 60% del tamaño de la pantalla */
  /*
  TODO: modificar ancho en base al tamaño de la pantalla usando @media, para pantallas grandes como computadores
   */
  height: 80px;
  font-family: "montserrat", sans-serif;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  font-size: 100%; /* hace la letra más grande y que se ajuste al tamaño de la pantalla*/
}

.btn1 {
  background-color: #001b4d;
  /*
  Colorizar botón con un gradiente:

  background-image: linear-gradient(to left, #001b4d, #001b4d, #001b4d)
   */
}

.btn2 {
  background-color: #F21940;
  /*
  background-image: linear-gradient(to left,#F21940, #F21940,#F21940)
   */
}

.btn3 {
  background-color: #F24D19;
  /*
  background-image: linear-gradient(to left, #F24D19, #F24D19, #F24D19)
   */
}

.btn4 {
  background-color: #2680ff;
  /*
  background-image: linear-gradient(to left, #2680ff, #2680ff, #2680ff)
   */
}

.btn5 {
  background-color: #40ff00;
  /*
background-image: linear-gradient(to left, #40ff00, #40ff00, #40ff00)
   */
}

.btn6 {
  background-color: #ffb517;
  /*
background-image: linear-gradient(to left, #ffb517, #ffb517, #ffb517)
   */
}

