<div class="c-buttons">
  <button (click)="redirect('/financiamiento')" class="btn btn1" type="submit">
    <p class="txt">Financiamiento</p>
  </button>
  <button (click)="redirect('/pastoral')" class="btn btn2">Pastoral</button>
  <button (click)="redirect('/desarrollo')" class="btn btn3">Desarrollo Laboral</button>
  <button (click)="redirect('/apoyo')" class="btn btn4">Apoyo y Bienestar juvenil</button>
  <button (click)="redirect('/deportes')" class="btn btn5">Deportes</button>
  <button (click)="redirect('/asuntos')" class="btn btn6">Asuntos estudiantiles</button>
</div>
