.c-buttons {
  text-align: center;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0 5% 5%;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 100%; /* hace la letra más grande y que se ajuste al tamaño de la pantalla*/
  font-family: "montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  -moz-box-shadow: 0 0 4px 1px grey;
  -webkit-box-shadow: 0 0 4px 1px grey;
  box-shadow: 0 0 4px 1px grey;
}

.btn1 { /*financiamiento*/
  background-color: #FFA500;
  background-image: url("../../assets/financiamiento_Mesa de trabajo 1.png");
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;
  /*
  Colorizar botón con un gradiente:

  background-image: linear-gradient(to left, #001b4d, #001b4d, #001b4d)
   */
}

.btn2 { /*pastoral*/
  background-color: #F21940;
  background-image: url("../../assets/pastoral-01.png");
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;

  /*
  background-image: linear-gradient(to left,#F21940, #F21940,#F21940)
   */
}

.btn3 { /* desarrollo laboral */
  background-color: #1E90FF;
  background-image: url("../../assets/D.Laboral.png");
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;
  /*
  background-image: linear-gradient(to left, #F24D19, #F24D19, #F24D19)
   */
}

.btn4 { /*apoyo y bienestar juvenil */
  background-color: #FFB6C1;
  background-image: url("../../assets/Apoyo y bienestar_Mesa de trabajo 1.png");
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;
  /*
  background-image: linear-gradient(to left, #2680ff, #2680ff, #2680ff)
   */
}

.btn5 { /*deportes */
  background-color: #228B22;
  background-image: url("../../assets/Deportes-01.png");
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;
  /*
background-image: linear-gradient(to left, #40ff00, #40ff00, #40ff00)
   */
}

.btn6 { /*asuntos estudiantiles*/
  background-color: #2E8B57;
  background-image: url("../../assets/A.Estudiantiles_Mesa de trabajo 1.png");
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;
  /*
background-image: linear-gradient(to left, #ffb517, #ffb517, #ffb517)
   */
}
