.map {
  max-width: 100%;
  height: auto;
  width: 1200px;
  display: block;
  margin: auto;
}

.bot {
  min-width: 100%;
  min-height: 500px;
  max-height: 800px;
}

.footer-container {
  margin: auto;
}
