<!-- Archivo HTML correspondiente al codigo del modulo informativo "desarrollo Laboral"-->

<div class="area-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Desarrollo Laboral</h2>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
  <h2 class="area-title">DESARROLLO LABORAL</h2>
  <p class="area-text">
    El Centro de Desarrollo Laboral ofrece un servicio gratuito de intermediación laboral entre las empresas y los
    alumnos y egresados. Para facilitar esta interacción, durante todo el año se ofrecen diferentes actividades y
    herramientas como Ferias Laborales de prácticas, trabajos part time y full time; Bolsas de Trabajo y Reclutamientos
    Masivos que realizan las empresas. Además, cada sede cuenta con un Coordinador de Desarrollo Laboral Duoc UC,
    encargado de proporcionar a los alumnos la orientación necesaria para acceder a los empleos disponibles y velar por
    el correcto desarrollo de las actividades.
  </p>
  </mat-expansion-panel>
  <div class="space">
  </div>
  <img alt="Fotografía funcionario desarrollo laboral" class="area-img" src="../../assets/desarrollo%20laboral.png"/>
  <div class="paneles">
    <h1>Preguntas Frecuentes</h1>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Desarrollo Laboral</h2>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
  <h3 class="area-question">No puedo ingresar a la plataforma duoclaboral</h3>
  <p class="area-text"> Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil </p>

  <h3 class="area-question"> Perdí la contraseña de duoclaboral </h3>
  <p class="area-text"> Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil para restablecerla </p>

  <h3 class="area-question"> ¿Dónde puedo encontrar práctica profesional? </h3>
  <p class="area-text"> Crea tu cuenta en duoclaboral.cl y podrás acceder a cientos de ofertas exclusivas para ti </p>

  <h3 class="area-question"> ¿Dónde puedo encontrar trabajo para titulado? </h3>
  <p class="area-text"> Crea tu cuenta en duoclaboral.cl y podrás acceder a cientos de ofertas exclusivas para ti </p>

  <h3 class="area-question"> ¿Dónde puedo encontrar trabajo part-time? </h3>
  <p class="area-text"> Crea tu cuenta en duoclaboral.cl y podrás acceder a cientos de ofertas exclusivas para ti </p>

  <h3 class="area-question"> Necesito hacer un Curriculum Vitae </h3>
  <p class="area-text"> Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil </p>

  <h3 class="area-question"> Requiero apoyo para una entrevista laboral. </h3>
  <p class="area-text"> Agenda tu hora con el coordinador de Desarrollo Laboral en Punto Estudiantil </p>

  <h3 class="area-question"> ¿Qué talleres imparte Desarrollo Laboral? </h3>
  <ul class="area">
    <li>Cómo crear un curriculum Vitae</li>
    <li>Cómo es el proceso de reclutamiento y selección de las empresas</li>
    <li>Cómo desarrollar un perfil profesional en Linkedin</li>
    <li>Expresión oral y lenguaje no verbal para el ámbito laboral</li>
    <li>Cómo enfrentar exitosamente una entrevista laboral</li>
    <li>Pasos para un adecuado personal branding (Marca personal)</li>
    <li>SII, cómo iniciar actividades o una empresa</li>
    <li>Presentaciones efectivas</li>
    <li>Habilidades sociales para la empleabilidad</li>
    <li>Contrato de trabajo, derechos y deberes</li>
    <li>Intra emprendimiento</li>
    <li>Networking</li>
  </ul>

  <h3 class="area-question"> ¿Cuándo es la Feria Laboral Plaza Oeste? </h3>
  <p class="area-text"> Es el día martes 10 de septiembre a las 10.00 am </p>

  <h3 class="area-question"> ¿Cuándo es la semana de la empleabilidad? </h3>
  <p class="area-text"> Es ente el 9 y el 14 de septiembre </p>

  <h3 class="area-question"> ¿Qué actividades hay en la semana de la empleabilidad? </h3>
  <p class="area-text"> Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil </p>

  <h3 class="area-question"> ¿Dónde me puedo inscribir para un taller? </h3>
  <p class="area-text"> Acércate a tu coordinador de Desarrollo Laboral en Punto Estudiantil o en los link que se les
    envía
    en los correos </p>

  <h3 class="area-question"> ¿Cuándo es la Feria Laboral Virtual? </h3>
  <p class="area-text"> Del 27 al 30 de agosto</p>

  <h3 class="area-question"> Necesito crear una cuenta en el SII </h3>
  <p class="area-text"> Agenda tu hora con el coordinador de Desarrollo Laboral en Punto Estudiantil </p>

  <h3 class="area-question"> Necesito hacer inicio de actividades en el SII </h3>
  <p class="area-text"> Agenda tu hora con el coordinador de Desarrollo Laboral en Punto Estudiantil que te orientará
    para
    ello </p>

  <h3 class="area-question"> ¿Dónde puedo obtener mi credencial de titulado? </h3>
  <p class="area-text"> Envía un correo a eibacache@duoc.cl, con tu foto, rut, nombre y escuela para poder
    obtenerla </p>

  <h3 class="area-question"> ¿Qué beneficios tengo con mi credencial de titulado? </h3>
  <p class="area-text"> Los puedes revisar en la siguiente página http://www.duoc.cl/programa-beneficios-titulados </p>

  <h3 class="area-question"> ¿A qué servicios puedo optar con mi credencial de titulado? </h3>
  <p class="area-text"> Los puedes revisar en la siguiente página http://www.duoc.cl/beneficios/servicios-familia </p>

  <h3 class="area-question"> ¿A qué servicios puedo optar con mi credencial de titulado de recreación y tiempo
    libre? </h3>
  <p class="area-text"> Los puedes revisar en la siguiente página
    http://www.duoc.cl/beneficios/recreacion-tiempo-libre </p>

  <h3 class="area-question"> ¿Cuándo es mi titulación? </h3>
  <p class="area-text"> Escríbenos un correo con tus datos a eibacache@duoc.cl para poder asesorarte </p>

  <h3 class="area-question"> ¿Cómo puedo optar a ser alumno ayudante de Duoc UC? </h3>
  <p class="area-text">Debes cumplir con los siguientes requisitos:</p>
  <ul>
    <li>Ser alumno regular</li>
    <li>Tener al menos cursado 1 semestre</li>
    <li>Tener un PPS igual o superior a 5.0, o al menos haber aprobado el 80% de las asignaturas inscritas el semestre
      anterior
    </li>
  </ul>
  <h3> ¿A qué servicios puedo optar con mi credencial de titulado de recreación y tiempo libre? </h3>
  <h2> Los puedes revisar en la siguiente página http://www.duoc.cl/beneficios/recreacion-tiempo-libre </h2>

  <h3> ¿Cuándo es mi titulación? </h3>
  <h2> Escríbenos un correo con tus datos a eibacache@duoc.cl para poder asesorarte </h2>
  </mat-expansion-panel>
</div>
<div class="space">
</div>
<div class="paneles">
  <h1>Inscripción Taller Laboral</h1>
</div>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h2>Formulario</h2>
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>
<div class="formulario dlaboral">
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSd2WRtdCs1b2zAMfjEL3B30mmQNJ3egN0ZehhXdOa7jEseEzA/viewform"
  ></iframe> <!-- En la parte superior se encuentra la fuente (src = source) perteneciente al formulario de google -->
</div>
</mat-expansion-panel>
