<div><h2>Si el deporte es tu pasión, te invitamos a los talleres deportivos que hemos preparado para ti. Además, súmate
  a una
  de las 13 selecciones y representa a Duoc UC en los Campeonatos de Universia, Adupri y Ligas IND.

  Infórmate sobre todas las alternativas con el Coordinador de Deportes en el Punto Estudiantil de tu sede.</h2></div>

<img src="../../assets/deportes.png"/>

<div>
  <h3>1.- ¿Son gratis los talleres deportivos?</h3>
  <h2>R: Sí, completamente gratuitos, no tienen ningún costo para el alumno.</h2>
  <br>
  <h3>2.- ¿Qué talleres deportivos existen?</h3>
  <h2>R: Fútbol, Voleibol, Basquetbol, Tenis de mesa, futbolito damas, natación, entrenamiento funcional.</h2>
  <br>
  <h3>3.- ¿Compiten en algún campeonato?</h3>
  <h2>R: Intersedes Duoc UC, juegos olímpicos Duoc y juegos de invierno Duoc además de campeonatos y ligas
    externas.</h2>
  <br>
  <h3>4.- Si yo no voy al taller y lo tengo inscrito en mi horario, ¿qué pasa?</h3>
  <h2>R: Queda en tu historial académico como NO LOGRADO.</h2>
  <br>
  <h3>5.- ¿Cuántos créditos tiene el ramo optativo de fútbol?</h3>
  <h2>R: Todos los optativos deportivos tienen 4 créditos.</h2>
  <br>
  <h3>6.- ¿Las clases de natación son nado libre?</h3>
  <h2>R: No, siempre hay un profesor realizando la clase de natación.</h2>
  <br>
  <h3>7.- ¿Cuántas veces puedo ir al gimnasio?</h3>
  <h2>R: Dos veces a la semana, de lunes a viernes.</h2>
  <br>
  <h3>8.- Si suspendi la carrera, ¿puedo seguir entrenando?</h3>
  <h2>R: NO, ya que no eres alumnos regular de Duoc UC y el seguro no cubre ningún accidente.</h2>
  <br>
  <h3>9.- Si tengo menos del 70% de asistencia al taller, ¿lo repruebo?</h3>
  <h2>R: El taller queda como NO LOGRADO y queda en tu historial académico.</h2>
  <br>
  <h3>10.- ¿Solo puedo pedir los materiales deportivos con la credencial?</h3>
  <h2>R: Sí, solo con la credencial.</h2>
  <br>

</div>
