<p>deportes</p>

<div><h2>Si el deporte es tu pasión, te invitamos a los talleres deportivos que hemos preparado para ti. Además, súmate
  a una
  de las 13 selecciones y representa a Duoc UC en los Campeonatos de Universia, Adupri y Ligas IND.

  Infórmate sobre todas las alternativas con el Coordinador de Deportes en el Punto Estudiantil de tu sede.</h2></div>

<img src="../../assets/deportes.png"/>

<div>
  1.- son gratis los talleres deportivos
  R: si completamente gratuitos, no tienen ningún costo para el alumno

  2.- que talleres deportivos existen
  R: futbol, voleibol, basquetbol tenis de mesa, futbolito damas, natación entrenamiento funcional

  3.- compiten en algún campeonato
  R: intersedes duoc uc, juegos olímpicos duoc y juegos de invierno duoc además de campeonatos y ligas externas

  4.-si yo no voy al taller y lo tengo inscrito en mi horario que pasa
  R: queda en tu historial académico como NO LOGRADO

  5.- cuantos créditos tiene el ramo optativo de futbol
  R: todos los optativos deportivos tienen 4 créditos

  6.-las clases de natación son nado libre
  R: no, siempre hay un profesor realizando la clase de natación

  7.- cuantas veces puedo ir al gimnasio
  R: dos veces a la semana de lunes a viernes

  8.-si suspendi la carrera puedo seguir entrenando
  R: NO, ya que no eres alumnos regular de duoc uc y el seguro no cubre ningún accidente

  9.- si tengo menos del 70% de asistencia al taller lo repruebo
  R: el taller queda como NO logrado y queda en tu historial académico

  10.- solo puedo pedir los materiales deportivos con la credencial
  R: si solo con la credencial


</div>
