<!-- Archivo HTML correspondiente al codigo del modulo informativo "deportes"-->

<div class="area-container">
  <h2 class="area-title">DEPORTE Y ACTIVIDAD FÍSICA</h2>
  <p class="area-text">Si el deporte es tu pasión, te invitamos a los talleres deportivos que hemos preparado para ti.
    Además, súmate a una de las 13 selecciones y representa a Duoc UC en los Campeonatos de Universia, Adupri y Ligas
    IND. Infórmate sobre todas las alternativas con el Coordinador de Deportes en el Punto Estudiantil de tu sede.
  </p>
  <img alt="Fotografía funcionario deportes" class="area-img" src="../../assets/deportes.png"/>
  <h3 class="area-question">1.- ¿Son gratis los talleres deportivos?</h3>
  <p class="area-text">Sí, completamente gratuitos, no tienen ningún costo para el alumno.</p>
  <br>
  <h3 class="area-question">2.- ¿Qué talleres deportivos existen?</h3>
  <p class="area-text">Fútbol, Voleibol, Basquetbol, Tenis de mesa, futbolito damas, natación, entrenamiento
    funcional.</p>
  <br>
  <h3 class="area-question">3.- ¿Compiten en algún campeonato?</h3>
  <p class="area-text">Intersedes Duoc UC, juegos olímpicos Duoc y juegos de invierno Duoc además de campeonatos y ligas
    externas.</p>
  <br>
  <h3 class="area-question">4.- Si yo no voy al taller y lo tengo inscrito en mi horario, ¿qué pasa?</h3>
  <p class="area-text">Queda en tu historial académico como NO LOGRADO.</p>
  <br>
  <h3 class="area-question">5.- ¿Cuántos créditos tiene el ramo optativo de fútbol?</h3>
  <p class="area-text">Todos los optativos deportivos tienen 4 créditos.</p>
  <br>
  <h3 class="area-question">6.- ¿Las clases de natación son nado libre?</h3>
  <p class="area-text">No, siempre hay un profesor realizando la clase de natación.</p>
  <br>
  <h3 class="area-question">7.- ¿Cuántas veces puedo ir al gimnasio?</h3>
  <p class="area-text">Dos veces a la semana, de lunes a viernes.</p>
  <br>
  <h3 class="area-question">8.- Si suspendi la carrera, ¿puedo seguir entrenando?</h3>
  <p class="area-text">NO, ya que no eres alumnos regular de Duoc UC y el seguro no cubre ningún accidente.</p>
  <br>
  <h3 class="area-question">9.- Si tengo menos del 70% de asistencia al taller, ¿lo repruebo?</h3>
  <p class="area-text">El taller queda como NO LOGRADO y queda en tu historial académico.</p>
  <br>
  <h3 class="area-question">10.- ¿Solo puedo pedir los materiales deportivos con la credencial?</h3>
  <p class="area-text">Sí, solo con la credencial.</p>
  <br>

</div>
<div class="inscripciones deportivos">
  <h1>Inscripción Taller Deportivo</h1>
</div>
<div class="formulario deportivo">
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSf0mM53PtAoLqbgDITfu74Rnub2SMoOmJXp2159-7fCAS4oIA/viewform"
  ></iframe> <!-- En la parte superior se encuentra la fuente (src = source) perteneciente al formulario de google -->
</div>
