<app-top-bar></app-top-bar>
<router-outlet></router-outlet>

<h1 style="text-align:center;">Encuéntranos acá</h1>
<h2 style="text-align:center;">DUOC UC SEDE OESTE</h2>

<div class="footer">
  <div id="map">
    <img alt="Mapa primer piso sede DUOC" class="map" src="../assets/punto_estudiantil.jpg"/>
  </div>
  //div id="bot">
  //iframe class="bot"
  src='https://webchat.botframework.com/embed/puntoestudiantilduocucdb-bot?s=Zd41994mcyo.sX_wXQfPiJSMIgApnwFPl_DF_72jwWcwIhqYJA-PJsw'>///iframe>
  ///div>
</div>
