<app-top-bar></app-top-bar>
<router-outlet></router-outlet>

<h1 style="text-align:center;">Encuéntranos acá</h1>
<h2 style="text-align:center;"> DUOC UC SEDE OESTE</h2>
<div style="text-align: center;">
  <div class="map-container" id="mapa">
    <img alt="Mapa primer piso sede DUOC" src="../assets/punto_estudiantil.jpg"/>
  </div>
</div>
<iframe
        src='https://webchat.botframework.com/embed/puntoestudiantilduocucdb-bot?s=Zd41994mcyo.sX_wXQfPiJSMIgApnwFPl_DF_72jwWcwIhqYJA-PJsw'
        style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
