<!-- Archivo HTML correspondiente al codigo del modulo informativo "Apoyo y bienestar estudiantil"-->
<div class="area-container">
  <h2 class="area-title">UNIDAD DE APOYO Y BIENESTAR ESTUDIANTIL</h2>
  <img src="./../../../assets/Apoyo y bienestas estudiantil_Maria fernanda.jpg" class="area-img"/>

  <p class="area-description">
    En Duoc UC te ayudamos a que tu experiencia sea lo más enriquecedora posible,
    venciendo los obstáculos y
    desafíos
    que puedas encontrar en tu proceso formativo.
    Contarás con un apoyo personalizado en el área psicológica, vocacional y motivacional. Si
    estás en situación de discapacidad o tienes necesidades educativas específicas, te
    acompañamos y guiamos de manera integral, para que tengas un adecuado progreso
    académico y vida estudiantil.
    A través de actividades y talleres, te entregamos herramientas, manejar el
    estrés, fomentar tu autocuidado y promover una vida saludable.
    Acércate al Coordinador de la Unidad de Apoyo y Bienestar Estudiantil de tu sede, para
    conocer en detalle todas las
    alternativas de apoyo que tenemos para ti.
  </p>
  <div class="paneles">
    <h2 class="area-title">Preguntas Frecuentes</h2>
  </div>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Qué es la unidad de apoyo y bienestar estudiantil?
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="area-text">
      La unidad de apoyo y bienestar estudiantil es la unidad encargada de brindar
      acompañamiento y orientación personalizado en el área psicológica, vocacional y
      motivacional, además de entregar apoyo a los alumnos en situación de discapacidad o con
      necesidades educativas específicas.
    </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        ¿Cuáles son las funciones de la unidad de apoyo y bienestar estudiantil?
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="area-text">
      Brindar acompañamiento a estudiantes en situación de discapacidad
      Brindar apoyo y acompañamiento psicosocial y vocacional a estudiantes
      Brindar apoyo y acompañamiento para el autocuidado y la vida saludable
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Tengo problemas emocionales/vocacionales ¿dónde debo acudir?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p class="area-text">
      Dirígete al punto estudiantil y agenda una hora con el/la coordinador(a) de apoyo y bienestar.
    </p>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿La unidad de apoyo y bienestar estudiantil realiza psicoterapia?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p class="area-text">
      No, la unidad de apoyo y bienestar estudiantil tiene como propósito apoyar y orientar al
      alumno en sus dificultades tanto emocionales como académicas, sin embargo y
      dependiendo del caso, el coordinador de la unidad realizará derivación a un centro de
      atención según corresponda para concretar un proceso de psicoterapia.
    </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Existe un límite de tiempo en la atención de la unidad de apoyo?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p class="area-text">
      El máximo de tiempo por cada sesión es de 30 minutos.
    </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          No alcancé a llegar a la hora agendada, ¿puedo re agendar?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p class="area-text">
      Sí, para ello debes llamar al número (56 2) 354 0869 o acercarte al Punto Estudiantil y re agendar tu hora.
    </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cuántas veces puedo acudir?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p class="area-text">
      Existe un máximo de 3 sesiones por alumno durante el año académico.
    </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo puedo agendar hora?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p class="area-text">
      Acércate al Punto Estudiantil y agenda tu hora.
    </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Si tengo carnet RND, ¿Con quién debo dirigirme?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p class="area-text">
      Acércate al punto estudiantil y pide hora con el/la coordinador(a) de apoyo y bienestar.
    </p>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Necesito horas de transvoz LSCH y/o Ayudas técnicas.
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p class="area-text">
      El/la coordinador(a) de la unidad de apoyo gestionará tus horas de LSCH y te orientara
      para el proceso de postulación y solicitud de ayudas técnicas.
    </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Existen convenios en los centros de atención psicológica donde se realizan las derivaciones?
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
    <p class="area-text">
      Sí, los convenios son exclusivos por ser alumnos de DUOC UC.
    </p>
      </mat-expansion-panel>

</div>
