.logo {
  min-width: 50% !important;
  max-width: 100% !important;
  height: auto;
  width: auto \9; /* ie8 */
}

.title {
  font-size: 100% !important;
  max-font-size: 50px;
  min-font-size: 10px;
  color: #ffffff;
  font-weight: bolder;
  text-align: right;
  margin-left: auto;
}

a {
  max-width: 50% !important;
}
