.logo {
  min-width: 50% !important;
  max-width: 100% !important;
  height: auto;
  width: auto \9; /* ie8 */
}

.title {
  font-size: calc(12px + 1.5vw) !important;
  color: #ffffff;
  font-weight: bolder;
  text-align: right;
  margin-left: auto;
}

a {
  max-width: 50% !important;
}
