/*La clase "c-buttons" corresponde a la clase que agrupa a los BTN , los cuales corresponden al conjunto de botones de la app(buttons) */
.c-buttons {
  text-align: center;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0 5% 5%;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 100%; /* hace la letra más grande y que se ajuste al tamaño de la pantalla*/
  font-family: "montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover {
  -moz-box-shadow: 0 0 4px 1px grey;
  -webkit-box-shadow: 0 0 4px 1px grey;
  box-shadow: 0 0 4px 1px grey;
}

/*Cada Btn (botón) tiene sus propios  atributos de presentación , como lo son el color (background-color) y la imagen (background-image) */
.btn1 { /*financiamiento*/
  /*background-color: var(--financiamiento);*/
  background-image: url("../../assets/icono Financiamiento.png");
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;
  /*
  Colorizar botón con un gradiente:

  background-image: linear-gradient(to left, #001b4d, #001b4d, #001b4d)
   */
}

.btn2 { /*pastoral*/
  /*background-color: var(--pastoral);*/
  background-image: url("../../assets/icono Pastoral.png");
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;

  /*
  background-image: linear-gradient(to left,#F21940, #F21940,#F21940)
   */
}

.btn3 { /* desarrollo-laboral laboral */
  /*background-color: var(--desarrollo);*/
  background-image: url("../../assets/icono Desarrollo laboral.png");
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;
  /*
  background-image: linear-gradient(to left, #F24D19, #F24D19, #F24D19)
   */
}

.btn4 { /*apoyo-y-bienestar-estudiantil y bienestar juvenil */
 /* background-color: var(--apoyo);*/
  background-image: url("../../assets/icono Apoyo y bienestar estudiantil.png");
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;
  /*
  background-image: linear-gradient(to left, #2680ff, #2680ff, #2680ff)
   */
}

.btn5 { /*deportes */
 /* background-color: var(--deporte);*/
  background-image: url("../../assets/icono Deporte y actividad fisica.png");
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;
  /*
background-image: linear-gradient(to left, #40ff00, #40ff00, #40ff00)
   */
}

.btn6 { /*asuntos estudiantiles*/
  /*background-color: var(--asuntos);*/
  background-image: url("../../assets/icono Asuntos estudiantiles.png");
  background-repeat: no-repeat;
  background-size: 85% 85%;
  background-position: center;
  /*
background-image: linear-gradient(to left, #ffb517, #ffb517, #ffb517)
   */
}
