<img src="../../assets/financiamiento.png"/>
<img src="../../assets/asistente%20financiamiento%20vespertino.png"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<body>
<h1>Preguntas Frecuentes</h1>
<h3> ¿La gratuidad cubre carreras vespertinas? </h3>
<h2> Sí, la gratuidad cubre carreras diurnas y vespertinas, pero no cubre carreras semipresenciales. </h2>
<h3> ¿Puedo optar a la gratuidad si ya tengo un título técnico o profesional? </h3>
<h2> Puedes acceder a la gratuidad solo si ya tienes un título técnico y quieres seguir tus estudios en una carrera
  profesional; si ya posees un título profesional no podrás acceder a la gratuidad. </h2>
<h3> ¿Existen Becas internas en Duoc UC?</h3>
<h2> Sí, en Duoc UC hemos dispuesto ayuda financiera para todos quienes lo necesiten y así asegurar su acceso y
  continuidad de estudios:
  <br>
  - Beca Segundo Hermano
  <br>
  - Beca Tercer Hermano
  <br>
  - Beca Deportiva
  <br>
  - Beca Liceo Politécnico Andes
  <br>
  - Beca Padre o Madre Sostenedor. </h2>
<h3> ¿Cómo puedo postular para la gratuidad? </h3>
<h2> Debes postular en el mes de Octubre en fuas.cl </h2>
<h3> ¿Cómo puedo postular para obtener CAE? </h3>
<h2> Debes postular en el mes de Octubre en fuas.cl </h2>
<h3> ¿Puedo realizar cambio de carrera con gratuidad? </h3>
<h2> Sí, la gratuidad permite realizar un cambio de carrera. </h2>
<h3> Si tengo gratuidad… ¿Debo cancelar los aranceles? </h3>
<h2> No, la gratuidad cubre aranceles y matricula </h2>
<h3> ¿Cuánto me cubre la gratuidad? </h3>
<h2> La gratuidad solamente cubre la duración formal de la carrera.</h2>
<h3> ¿Con quién puedo hablar en financiamiento? </h3>
<h2> La Unidad de Financiamiento se encuentra en el punto estudiantil, puedes conversar con Andrea Villalobos o Patricio
  Díaz. </h2>
<h3> ¿Puedo realizar un cambio de institución con gratuidad? </h3>
<h2> Sí, la gratuidad permite un cambio de carrera y/o institución. </h2>

</body>

