<img src="../../assets/financiamiento.png"/>
<img src="../../assets/asistente%20financiamiento%20vespertino.png"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>

<div>
  <h3>Te presentamos las alternativas de financiamiento a las cuales puedes optar como alumno regular.

    Lo importante es que te informes de los requisito de cada una de ellas y sus fechas de postulación.

    Acércate al Encargado de Financiamiento Estudiantil de tu sede para informarte en detalle sobre opciones de
    financiamiento.</h3>
  <h1> BECAS DUOC UC</h1>
  <h3> BECA SEGUNDO HERMANO</h3></div>

<table cellpadding="5" cellspacing="5" style="width: 100%;">
  <tbody>
  <tr>
    <td bgcolor="#002D56" width="107"><strong><span color="#FFFFFF" style="color: #ffffff;">BENEFICIO</span></strong>
    </td>
    <td bgcolor="#002D56" width="275"><strong><span color="#FFFFFF"
                                                    style="color: #ffffff;">DESCRIPCIÓN</span></strong>
    </td>
    <td bgcolor="#002D56" width="275"><strong><span color="#FFFFFF" style="color: #ffffff;">REQUISITOS</span></strong>
    </td>
  </tr>
  <tr>
    <td align="center" bgcolor="#eeeeee" width="107"><strong>20%</strong></td>
    <td bgcolor="#eeeeee" width="275">Alumno que tenga un segundo hermano matriculado en alguna carrera de Duoc UC
    </td>
    <td bgcolor="#eeeeee" width="275">Presentar el certificado de nacimiento del alumno y el de su hermano(s)
      matriculado(s) en otra carrera de Duoc UC.
    </td>
  </tr>
  </tbody>
</table>
<h3> BECA TERCER HERMANO</h3>
<table cellpadding="5" cellspacing="5" style="width: 100%;">
  <tbody>
  <tr>
    <td bgcolor="#002D56" width="107"><strong><span color="#FFFFFF" style="color: #ffffff;">BENEFICIO</span></strong>
    </td>
    <td bgcolor="#002D56" width="275"><strong><span color="#FFFFFF"
                                                    style="color: #ffffff;">DESCRIPCIÓN</span></strong>
    </td>
    <td bgcolor="#002D56" width="275"><strong><span color="#FFFFFF" style="color: #ffffff;">REQUISITOS</span></strong>
    </td>
  </tr>
  <tr>
    <td align="center" bgcolor="#eeeeee" width="107"><strong>50%</strong></td>
    <td bgcolor="#eeeeee" width="275">Alumno que tenga un tercer hermano matriculado en alguna carrera de Duoc UC</td>
    <td bgcolor="#eeeeee" width="275">Presentar el certificado de nacimiento del alumno y el de su hermano(s)
      matriculado(s) en otra carrera de Duoc UC.
    </td>
  </tr>
  </tbody>
</table>
<h3> BECAS DEPORTIVAS</h3>
<table cellpadding="5" cellspacing="5" style="width: 100%;">
  <tbody>
  <tr>
    <td bgcolor="#002D56" width="107"><strong><span color="#FFFFFF" style="color: #ffffff;">BENEFICIO</span></strong>
    </td>
    <td bgcolor="#002D56" width="275"><strong><span color="#FFFFFF"
                                                    style="color: #ffffff;">DESCRIPCIÓN</span></strong>
    </td>
    <td bgcolor="#002D56" width="275"><strong><span color="#FFFFFF" style="color: #ffffff;">REQUISITOS</span></strong>
    </td>
  </tr>
  <tr>
    <td align="center" bgcolor="#eeeeee" width="107"><strong>20% - 40%</strong></td>
    <td bgcolor="#eeeeee" width="275">
      <p class="p1"><span class="s1">Esta beca beneficiará con un 20% en su arancel a alumnos deportistas que representen a la institución en alguna de las ramas de selección Duoc UC o que pertenezcan a alguna federación deportiva de nuestro país. En tanto, si el estudiante participa en ambas instancias, el beneficio es de 40%.</span>
      </p>
    </td>
    <td bgcolor="#eeeeee" width="275">
      <p class="p1"><span class="s1">Los alumnos deportistas deben acercarse al Coordinador de Deportes de la sede o al entrenador de la selección a la que pertenecen para consultar respecto a la documentación necesaria u otros requisitos. Para postular, se debe acceder <span
        style="text-decoration: underline;"><strong><a href="http://www.duoc.cl/becasdeportivas"><span
        class="s2">aquí</span></a>
                                                                                </strong>
                                                                                </span> y llenar el formulario.</span>
      </p>
      <p class="p1"><span class="s1">La asignación de esta beca está condicionada al cumplimiento de requisitos mínimos de notas y asistencia.</span>
      </p>
    </td>
  </tr>
  </tbody>
</table>

<h3> BECA LICEO POLITÉCNICO ANDES</h3>
<table cellpadding="5" cellspacing="5" style="width: 100%;">
  <tbody>
  <tr>
    <td bgcolor="#002D56" width="107"><strong><span color="#FFFFFF" style="color: #ffffff;">BENEFICIO</span></strong>
    </td>
    <td bgcolor="#002D56" width="275"><strong><span color="#FFFFFF"
                                                    style="color: #ffffff;">DESCRIPCIÓN</span></strong>
    </td>
    <td bgcolor="#002D56" width="275"><strong><span color="#FFFFFF" style="color: #ffffff;">REQUISITOS</span></strong>
    </td>
  </tr>
  <tr>
    <td align="center" bgcolor="#eeeeee" width="107"><strong>30%</strong></td>
    <td bgcolor="#eeeeee" width="275">Destinada a egresados del Liceo Politécnico Andes</td>
    <td bgcolor="#eeeeee" width="275">Ser egresado del Liceo Politécnico Andes</td>
  </tr>
  </tbody>
</table>

<h3> BECA MADRE O PADRE SOSTENEDOR</h3>
<table cellpadding="5" cellspacing="5" style="width: 100%;">
  <tbody>
  <tr>
    <td bgcolor="#002D56" width="107"><strong><span color="#FFFFFF" style="color: #ffffff;">BENEFICIO</span></strong>
    </td>
    <td bgcolor="#002D56" width="275"><strong><span color="#FFFFFF"
                                                    style="color: #ffffff;">DESCRIPCIÓN</span></strong>
    </td>
    <td bgcolor="#002D56" width="275"><strong><span color="#FFFFFF" style="color: #ffffff;">REQUISITOS</span></strong>
    </td>
  </tr>
  <tr>
    <td align="center" bgcolor="#eeeeee" width="107"><strong>100% del arancel semestral, excluida la
      matrícula</strong>
    </td>
    <td bgcolor="#eeeeee" width="275">Se otorga por el fallecimiento de Padre sostenedor o Madre sostenedora, válida
      por
      período de que dura la carrera y no es retroactiva
    </td>
    <td bgcolor="#eeeeee" width="275">Presentar el certificado de defunción respectivo</td>
  </tr>
  </tbody>
</table>

<h1> BECAS ESTATALES</h1>
<h3> BECAS DE PRIMER AÑO</h3>
<table align="center" border="0" cellpadding="5" cellspacing="5" style="width: 100%;">
  <tbody>
  <tr>
    <td bgcolor="#002D56"><strong><span color="#FFFFFF" style="color: #ffffff;">Descuento por pago año o semestre al contado.</span></strong>
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee">
      <ul>
        <li><strong>8% descuento</strong> para alumnos que cancelan los aranceles del año al contado.</li>
        <li><strong>6% descuento</strong> para alumnos que cancelan los aranceles del semestre al contado.</li>
      </ul>
      <p align="justify">Los alumnos que se encuentre en condiciones de obtener más de uno de estos beneficios, deben
        optar, a su elección, por sólo uno de ellos. En ningún caso se sumaran dos o más beneficios.</p>
    </td>
  </tr>
  </tbody>
</table>

<table cellpadding="5" cellspacing="5" style="width: 100%;">
  <tbody>
  <tr>
    <td bgcolor="#002d56" width="145"><strong><span color="#FFFFFF"
                                                    style="color: #ffffff;">NOMBRE BECA</span></strong>
    </td>
    <td bgcolor="#002d56" width="520"><strong><span color="#FFFFFF"
                                                    style="color: #ffffff;">REQUISITOS DE POSTULACIÓN</span></strong>
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee" width="145"><strong>BECA EXCELENCIA ACADÉMICA</strong></td>
    <td bgcolor="#eeeeee" width="520">Promedio de notas de Enseñanza Media dentro del 10% más alto del establecimiento
      de egreso de E.Media y pertenecer a deciles 1 al 8
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee" width="145"><strong>BECA HIJO PROFESIONALES EDUCACION</strong></td>
    <td bgcolor="#eeeeee" width="520">Estudiantes cuyos padres sean profesores o asistentes de la educación, con
      contrato vigente en establecimientos municipales, particular subvencionados o de administración delegada, PSU
      promedio (Lenguaje y Matemáticas) superior a 500 puntos, promedio de notas de Enseñanza Media igual o superior a
      5,5 y pertenecer a deciles 1 al 8.
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee"><strong>BECA ARTICULACION</strong></td>
    <td bgcolor="#eeeeee" width="520">Estudiantes egresados o titulados de carreras técnicas cuatro años antes a la
      fecha de ingreso a la carrera profesional, promedio de Notas de Enseñanza Media igual o superior a 5,0 y
      pertenecer a deciles 1 al 7.
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee" width="145"><strong>BECA EXCELENCIA TÉCNICA</strong></td>
    <td bgcolor="#eeeeee" width="520">Mejores egresados de Enseñanza Media del año de la postulación y hasta tres años
      antes, que opten a una carrera impartida por Centro de Formación Técnica o Instituto Profesional, promedio de
      Notas Enseñanza Media para postulantes carreras profesionales: igual o superior a 5,5, promedio de Notas
      Enseñanza
      Media para postulantes a carreras técnicas: igual o superior a 5,0 y pertenecer a deciles 1 al 7.
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee" width="145"><strong>BECA JUAN GOMEZ MILLAS</strong></td>
    <td bgcolor="#eeeeee" width="520">Estudiantes egresados de Enseñanza Media con rendimiento académico meritorio.
      Pertenecer a deciles 1 al 7.<br/> Postulantes: Desde 500 puntos.
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee"><strong>BECA DISCAPACIDAD</strong></td>
    <td bgcolor="#eeeeee" width="520">Estudiantes con discapacidad, con rendimiento académico meritorio, promedio de
      notas de Enseñanza Media igual o superior a 5,0 y pertenecer a deciles 1 al 7.
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee" width="145"><strong>BECA NUEVO MILENIO</strong></td>
    <td bgcolor="#eeeeee" width="520">Estudiantes que se matriculen en primer año a una carrera impartida por un
      Instituto Profesional o Centro de Formación Técnica, pertenecer a deciles 1 al 7 y Promedio de notas de
      Enseñanza
      Media: Carreras técnicas y profesionales: igual o superior a 5,0.
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee" width="145"><strong>BECA JUAN GOMEZ MILLAS EXTRANJERO</strong></td>
    <td bgcolor="#eeeeee" width="520">Estudiantes extranjeros provenientes de América Latina o el Caribe. Cupos:
      limitados. Pertenecer a deciles 1 al 7.
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee"><strong>BECA DE ARTICULACIÓN</strong></td>
    <td bgcolor="#eeeeee" width="520">Estudiantes egresados o titulados de carreras técnicas de nivel superior durante
      los cuatros años anteriores a la fecha de postulacion. Cupos: limitados. Pertenecer a quintiles 1 al 3 y
      promedio
      de Notas de Enseñanza Media igual o superior a 5,0.
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee" width="145"><strong>BECAS DE REPARACIÓN (TITULAR VALECH y TRASPASO VALECH)</strong></td>
    <td bgcolor="#eeeeee" width="520">Victimas en el informe de la Comisión Valech (Titulares) o a uno de sus hijos o
      nietos (Traspaso).Nómina de Personas reconocidas como Víctimas <a
        href="http://www.indh.cl/informacion-comision-valech">www.indh.cl/informacion-comision-valech</a>. No
      tiene Requisito socioeconómico. Requisito académico: No exige puntaje promedio PSU ni notas de Enseñanza Media.
    </td>
  </tr>
  </tbody>
</table>

<h3> BECAS DE CURSO SUPERIOR O SEGUNDO AÑO</h3>
<table cellpadding="5" cellspacing="5" style="width: 100%;">
  <tbody>
  <tr>
    <td bgcolor="#002D56" width="145"><strong><span color="#FFFFFF"
                                                    style="color: #ffffff;">NOMBRE BECA</span></strong>
    </td>
    <td bgcolor="#002D56" width="520"><strong><span color="#FFFFFF"
                                                    style="color: #ffffff;">REQUISITOS DE POSTULACIÓN</span></strong>
    </td>
  </tr>
  <tr>
    <td bgcolor="#EEEEEE" width="145"><strong>BECA JUAN GOMEZ MILLAS CURSOS SUPERIORES</strong></td>
    <td bgcolor="#EEEEEE" style="text-align: justify;" width="520">Destinada a estudiantes que ya cursen una carrera
      técnica, o profesional en un Instituto Profesional. No deben contar con alguna beca de arancel vigente al
      momento
      de la postulación, ni haber perdido una beca en su actual carrera. Pertenecer hasta el 7mo decil. Puntaje PSU
      promedio (lenguaje y matemáticas) de 500 puntos y grado de avance académico.
    </td>
  </tr>
  <tr>
    <td bgcolor="#EEEEEE" width="145"><strong>BECA NUEVO MILENIO CURSOS SUPERIORES</strong></td>
    <td bgcolor="#EEEEEE" style="text-align: justify;" width="520">Destinada para estudiantes que ya cursen una
      carrera
      técnica, o profesional en un Instituto Profesional. Estos últimos no deben contar con alguna beca de arancel
      vigente al momento de la postulación, ni haber perdido una beca en su actual carrera. Pertenecer hasta el 7mo
      decil. Promedio de Enseñanza media igual o superior a 5,0 para carrera técnica o profesional y grado de avance
      académico.
    </td>
  </tr>
  <tr>
    <td bgcolor="#EEEEEE" width="145"><strong>BECA HIJOS DE PROFESIONALES DE LA EDUCACION CURSOS SUPERIORES</strong>
    </td>
    <td bgcolor="#EEEEEE" style="text-align: justify;" width="520">Destinada a estudiantes cuyos padres sean
      profesores
      o asistentes de la Educación de enseñanza básica o media, con contrato vigente en establecimientos municipales,
      particular subvencionados o de administración delegada, cuyos estudiantes ya cursen una carrera técnica, o
      profesional en un Instituto Profesional. Estos últimos no deben contar con alguna beca de arancel vigente al
      momento de la postulación, ni haber perdido una beca en su actual carrera. Pertenecer hasta el 8vo decil.
      Puntaje
      PSU promedio (lenguaje y matemáticas) de 500 puntos, Promedio de Enseñanza media igual o superior a 5,5 y grado
      de
      avance académico.
    </td>
  </tr>
  </tbody>
</table>

<h1> CRÉDITOS </h1>
<h3> CAE (CRÉDITO CON AVAL DEL ESTADO</h3>
<table align="center" border="0" cellpadding="5" cellspacing="5" style="width: 100%;">
  <tbody>
  <tr>
    <td bgcolor="#eeeeee">
      <p align="justify"><span style="color: #000000;">Para mayor informacion de fechas y características de beneficios ingresa a </span><a
        href="http://www.beneficiosestudiantiles.cl/">www.beneficiosestudiantiles.cl</a></p>
      <p align="justify"><strong style="background-color: #ffffff;">Importante:</strong> Los alumnos matriculados en
        las
        carreras del Programa Ejecutivo Vespertino (PEV) no tendrán acceso a los beneficios detallados anteriormente.
      </p>
    </td>
  </tr>
  </tbody>
</table>

<div><h1>Preguntas Frecuentes</h1>
  <h3> ¿La gratuidad cubre carreras vespertinas? </h3>
  <h2> Sí, la gratuidad cubre carreras diurnas y vespertinas, pero no cubre carreras semipresenciales. </h2>
  <h3> ¿Puedo optar a la gratuidad si ya tengo un título técnico o profesional? </h3>
  <h2> Puedes acceder a la gratuidad solo si ya tienes un título técnico y quieres seguir tus estudios en una carrera
    profesional; si ya posees un título profesional no podrás acceder a la gratuidad. </h2>
  <h3> ¿Existen Becas internas en Duoc UC?</h3>
  <h2> Sí, en Duoc UC hemos dispuesto ayuda financiera para todos quienes lo necesiten y así asegurar su acceso y
    continuidad de estudios:
    <br>
    - Beca Segundo Hermano
    <br>
    - Beca Tercer Hermano
    <br>
    - Beca Deportiva
    <br>
    - Beca Liceo Politécnico Andes
    <br>
    - Beca Padre o Madre Sostenedor. </h2>
  <h3> ¿Cómo puedo postular para la gratuidad? </h3>
  <h2> Debes postular en el mes de Octubre en fuas.cl </h2>
  <h3> ¿Cómo puedo postular para obtener CAE? </h3>
  <h2> Debes postular en el mes de Octubre en fuas.cl </h2>
  <h3> ¿Puedo realizar cambio de carrera con gratuidad? </h3>
  <h2> Sí, la gratuidad permite realizar un cambio de carrera. </h2>
  <h3> Si tengo gratuidad… ¿Debo cancelar los aranceles? </h3>
  <h2> No, la gratuidad cubre aranceles y matrícula </h2>
  <h3> ¿Cuánto me cubre la gratuidad? </h3>
  <h2> La gratuidad solamente cubre la duración formal de la carrera.</h2>
  <h3> ¿Con quién puedo hablar en financiamiento? </h3>
  <h2> La Unidad de Financiamiento se encuentra en el punto estudiantil, puedes conversar con Andrea Villalobos o
    Patricio
    Díaz. </h2>
  <h3> ¿Puedo realizar un cambio de institución con gratuidad? </h3>
  <h2> Sí, la gratuidad permite un cambio de carrera y/o institución. </h2>
</div>

