.logo {
  max-width: 50%;
  max-height: 100%;
  min-height: auto;
  width: auto \9; /* ie8 */
  float: left;
}

.title {
  font-size: calc(12px + 1.5vw) !important;
  color: #ffffff;
  font-weight: bolder;
  float: right;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  text-align: center;
}
