.logo {
  max-width: 100%;
  height: 100%;
  width: auto \9; /* ie8 */
  float: left;
}

.title {
  font-size: calc(12px + 1.5vw) !important;
  color: #ffffff;
  font-weight: bolder;
  text-align: left;
}
